@media (min-width: 600px)
{
    header{
        background-color: yellow;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

%header{
    display:flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header_nav{
    @extend %header;
    background-color: #15FFBC;
    gap: 80px;

    & a{
        font-family: "Oswald", sans-serif;
        display: flex;
        align-content: center;
    }

    &   .header_nav-menuicon
    {
    display: flex;
    margin-right: 20px;
    }

    & .header_nav-logo{
        justify-content: center;
        margin:20px;
    }

    & .header_nav-qui{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}

.main_nav-lorems{
    display: flex; 
    align-content: center;
    justify-content: center;


    .main_nav-lorem2
    {
        font-weight: bold;
    }
}
